@use "./variables" as *;
@use "./mixins";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
    width: 100%; 
    min-height: 100%; 
}

body {
    width: inherit; 
    min-height: inherit;
    font-family: $body-font;
    font-weight: normal;
    background-color: $body-color;
    color: $text-color;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    @include mixins.breakpoint-up(medium){
        font-size: 3rem;
    }
}
h2 {
    font-size: 2rem;
    @include mixins.breakpoint-up(medium){
        font-size: 2.3rem;
    }
}
h3 {
    font-size: 1.5rem;
    @include mixins.breakpoint-up(medium){
        font-size: 1.8rem;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

// REUSABLE COMPONENTS
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    // margin: 0 auto;

    @media screen and (min-width: 1040px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 4.5rem 0 2rem;

    @media screen and (min-width: 767px){
        padding: 7rem 0 2rem;
    }
}

.section__title {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 2.5rem;
    line-height: 120%;
    font-weight: normal;

    &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 0;
        width: 3px;
        height: 30px;
        background-color: $first-color;
    }
}

// BUTTON
.button {
    display: inline-box;
    background: linear-gradient(to right, #243B55, #141E30);
    color: $container-color;
    padding: 1rem 1.75rem;
    border-radius: .25rem;
    font-size: $normal-font-size;
    text-transform: uppercase;
    position: relative;
    box-shadow: $shadowOne;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
    }
    &:hover::before {
        opacity: 0 ;
        transform: scale(0.5,0.5);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
    }

    &:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }
}